.chat{
    position: absolute;
    height: 300px;
    width: 225px;
    background-color: rgb(255, 255, 255);
    bottom:0px;
    right:0px;
    border-style:solid;
    border-width:thin;
    border-color: rgb(97, 92, 92);
    padding: 28px 0 0 0;

    }

.username{
    position: absolute;
    height: 20px;
    width:94%;
    top: 0%;
    left: 0%;
    color: white;
    padding: 7px;    
    background-color: rgb(104, 98, 98);
    
}
.button{
    position: absolute;
    height: 24px;
    width: 20%;
    top: 0%;
    right: 0%;
    color: white;
    margin: 5px;
}

#minimize{
    height: 100%;
    width: 100%;
    margin: auto;
    position: absolute;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    color: white;
    text-align:"center";
    
}

.chat-list{
    position: static;
    height: 267px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    top: 10.5%;
    left: 0%;
    margin: 5%;
    border-color: rgb(97, 92, 92);

}

input.textarea {
    position: absolute;
    bottom: 0px;    
    right: 0px;    
    height: 20px;
    width: 224px;
    z-index: 99;
    background: #fafafa;
    border: 2px;
    outline: none;
    border-style:solid;
    border-width:thin;
    color: #666;
    font-weight: 400;
    padding: 0;
    
}
